@model IEnumerable<MVCLibraryApp.Models.LocationModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateLocatie">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
          
                    <a asp-action="DeleteLocatie" asp-route-id="@item.ID">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
