@model MVCLibraryApp.Models.InvoiceModel
@{
    ViewData["Title"] = "ConfirmPayment";
}


<h1>Confirm Payment</h1>


<p>
    Amount to be paid: @Model.Amount
</p>

<form asp-controller="Medewerker" asp-action="ProcessPayment" method="post">
    <input type="hidden" name="id" value="@Model.Id" />  <!-- Use "id" as the name attribute -->
    <input type="submit" value="Pay" />
</form>