@{
    ViewData["Title"] = "EditItem";
}

@model MVCLibraryApp.Models.ItemModel

<h2>Edit Item</h2>

<form method="post">
    <input type="hidden" asp-for="ID" />

    <label for="Titel">Title:</label>
    <input id="Titel" asp-for="Title" />

    <label for="AuteurID">Author ID:</label>
    <input id="AuteurID" asp-for="AuthorID" />

    <label for="Publicatiejaar">Publication Year:</label>
    <input id="Publicatiejaar" asp-for="PublicationYear" />

    <label for="Status">Status:</label>
    <input id="Status" asp-for="Status" />

    <label for="LocatieID">Location ID:</label>
    <input id="LocatieID" asp-for="LocationID" />

    <button type="submit">Save</button>
</form>
