@{
    ViewData["Title"] = "Beheer";
}

    @model IEnumerable<ReserveringModel>

    <h2>Your Reservations:</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Reservation Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.Item.Titel</td>
                    <td>@reservation.ReservationDate</td>
                    <td>
                        <form method="post" action="@Url.Action("CancelReservation", "Bezoeker")">
                            <input type="hidden" name="id" value="@reservation.ID" />
                            <button type="submit" class="btn btn-primary">Cancel</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

