@model MVCLibraryApp.Models.ItemModel
@using MVCLibraryApp.Models

@{
    ViewData["Title"] = "Create Item";
}

<h2>Create New Item</h2>

<form asp-controller="Medewerker" asp-action="CreateItem" method="post">
    <div class="form-group">
        <label asp-for="Titel">Title</label>
        <input asp-for="Titel" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AuteurID">Author</label>
        <select asp-for="AuteurID" class="form-control" asp-items="ViewBag.AuteurID">
            <option value="">-- Select Author --</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Publicatiejaar">Publication Year</label>
        <input asp-for="Publicatiejaar" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LocatieID">Location</label>
        <select asp-for="LocatieID" class="form-control" asp-items="ViewBag.LocatieID">
            <option value="">-- Select Location --</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>