@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .fancy-font {
        font-family: 'Brush Script MT', cursive; /* Replace with your preferred font */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        width: 45%; /* The buttons will take up 45% of the width of their container. */
        margin: 2.5%; /* Spacing around the buttons */
    }
</style>

<div class="container mt-5">
    <h1 class="text-center mb-4">Dashboard</h1>

    <div class="text-center mt-4">
        <!-- Stylished Buttons to Other Views -->
        <a class="btn btn-primary btn-lg fancy-font" asp-action="IndexItem" asp-controller="Medewerker">Index Item</a>
        <a class="btn btn-primary btn-lg fancy-font" asp-action="IndexAuthor" asp-controller="Medewerker">Index Auteur</a>
        <a class="btn btn-success btn-lg fancy-font" asp-action="LeningenBeheer" asp-controller="Medewerker">Leningen Beheer</a>
        <a class="btn btn-success btn-lg fancy-font" asp-action="IndexBezoeker" asp-controller="Medewerker">Bezoeker Accounts Beheer</a>
        <a class="btn btn-success btn-lg fancy-font" asp-action="IndexFactuur" asp-controller="Medewerker">Factuur Inzien</a>

    </div>
</div>
