@{
    ViewData["Title"] = "EditAuthor";
}
@model MVCLibraryApp.Models.AuteurModel

<h2>Edit Author</h2>

<form method="post">
    <input type="hidden" asp-for="ID" />

    <label for="Name">Name:</label>
    <input id="Name" asp-for="Name" />

    <label for="Bio">Bio:</label>
    <input id="Bio" asp-for="Bio" />

    <button type="submit">Save</button>
</form>