@model MVCLibraryApp.Models.AbonnementModel

@{
    ViewData["Title"] = "EditAbonnement";
}

<h1>Edit</h1>

<h4>AbonnementModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaximaleItems" class="control-label"></label>
                <input asp-for="MaximaleItems" class="form-control" />
                <span asp-validation-for="MaximaleItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uitleentermijn" class="control-label"></label>
                <input asp-for="Uitleentermijn" class="form-control" />
                <span asp-validation-for="Uitleentermijn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verlengingen" class="control-label"></label>
                <input asp-for="Verlengingen" class="form-control" />
                <span asp-validation-for="Verlengingen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reserveringskosten" class="control-label"></label>
                <input asp-for="Reserveringskosten" class="form-control" />
                <span asp-validation-for="Reserveringskosten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boetekosten" class="control-label"></label>
                <input asp-for="Boetekosten" class="form-control" />
                <span asp-validation-for="Boetekosten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abonnementskosten" class="control-label"></label>
                <input asp-for="Abonnementskosten" class="form-control" />
                <span asp-validation-for="Abonnementskosten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexAbonnement">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
