@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .fancy-font {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        color: #FFFFFF;
        width: calc(50% - 5%);
        height: 200px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0;
        margin-bottom: 2.5%;
    }

    .btn-primary {
        background-color: #ff6347;
        border-color: #ff6347;
    }

    .btn-success {
        background-color: #32cd32;
        border-color: #32cd32;
    }
</style>

<div class="container mt-5">
    <h1 class="text-center mb-4">Visitor Dashboard</h1>

    <div class="d-flex flex-wrap justify-content-between align-items-center mt-4">
        <!-- Stylished Buttons to Other Views -->
        <a class="btn btn-primary btn-lg fancy-font" asp-action="" asp-controller="Bezoeker">Your Reservations</a>
        <a class="btn btn-primary btn-lg fancy-font" asp-action="SearchItems" asp-controller="Bezoeker">Search Items</a>
        <a class="btn btn-success btn-lg fancy-font" asp-action="ItemsManagement" asp-controller="Bezoeker">Items Management</a>
    </div>
</div>
